Mindsphere node-red flow read time series.txt
[{"id":"fffc0e5e.2cee7","type":"debug","z":"48320ffb.63e56","name":"","active":true,"console":"false","xaxis":"_time","complete":"payload","x":790,"y":160,"wires":[],"_type":"node"},{"id":"f486d506.9cb5a8","type":"inject","z":"48320ffb.63e56","name":"","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"0","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","enableRuleEngine":false,"showNextExecution":false,"powerMode":false,"x":120,"y":160,"wires":[["5a5dc562.8e0bcc"]]},{"id":"5a5dc562.8e0bcc","type":"read timeseries","z":"48320ffb.63e56","name":"","topic":"c81c03d0fcbf4606a9a5e034d1c957e3/47f54f6f6afa4f40ad4375ea44ce84e9/Temperatura_nevera","topicLabel":"","assetName":"data_storage","selectedTopics":"{\"asset\":\"c81c03d0fcbf4606a9a5e034d1c957e3\",\"assetName\":\"data_storage\",\"aspects\":[{\"aspectId\":\"47f54f6f6afa4f40ad4375ea44ce84e9\",\"aspectName\":\"LoRaWAN_test\",\"variables\":[\"Temperatura_nevera\"]}]}","period":"60","offset":"0","mode":"relative","from":"","datetimepickerFrom":"","to":"","datetimepickerTo":"","timezoneoffset":0,"x":430,"y":160,"wires":[["fffc0e5e.2cee7","b0163f4e.993d5","3f95a8d.2fb9558"]]},{"id":"b0163f4e.993d5","type":"ui_chart","z":"48320ffb.63e56","name":"","group":"f9ccec5a.e0195","order":0,"width":0,"singleBrowser":false,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":578,"y":238.33334350585938,"wires":[[]],"_type":"node"},{"id":"1751f83.8f37d08","type":"ui_gauge","z":"48320ffb.63e56","name":"","group":"f9ccec5a.e0195","order":0,"width":0,"singleBrowser":false,"height":0,"gtype":"gage","title":"Temperatura_nevera","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":637,"y":101.33334350585938,"wires":[],"_type":"node"},{"id":"3f95a8d.2fb9558","type":"function","z":"48320ffb.63e56","name":"","func":"msg.payload=msg.payload[msg.payload.length-1].Temperatura_nevera;\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":440,"y":102.66667175292969,"wires":[["1751f83.8f37d08","6cd80841.7cf078"]],"_type":"node"},{"id":"6cd80841.7cf078","type":"debug","z":"48320ffb.63e56","name":"","active":true,"console":"false","xaxis":"_time","complete":"false","x":561,"y":43.66667175292969,"wires":[]},{"id":"f9ccec5a.e0195","type":"ui_group","z":"48320ffb.63e56","name":"Temperatura_nevera","tab":"a6800ab0.411a38","order":1,"disp":true,"width":"6","collapse":false,"_type":"config"},{"id":"a6800ab0.411a38","type":"ui_tab","z":"","name":"Temperatura nevera","icon":"dashboard","publicAccess":"true","fmAccess":"none","fmAccessType":"private","assetType":"","asset":"","assetName":"","assetText":"","image":"","description":"","hideTitleBar":false,"_type":"config"}]